**EMPLOYEE DATASET ANALYSIS:**
---

This project loads the **employee_records** file through a csv file saved in the local machine.

In [11]:
import pandas as pd

employee = pd.read_csv('employee_records.csv')
employee.head()

,Employee_ID,Employee_Name,Age,Country,Department,Position,Salary,Joining_Date
0,1,Daniel Taylor,25,UK,HR,Analyst,142278.32,2023-06-04
1,2,Ethan Brown,44,India,Marketing,Executive,98549.20,2018-01-13
2,3,Sophia Martinez,51,Japan,Finance,Developer,85565.84,2015-04-30
3,4,Ethan Martinez,47,Germany,Support,Analyst,34513.67,2015-06-17
4,5,Mia Brown,32,Australia,Support,Consultant,45339.72,2019-02-22

**Let’s Explore 20 Pandas Functions:**

1️⃣ **info() — Display dataset structure**

Shows data types, non-null values, and memory usage.

In [ ]:
print(employee.info())

2️⃣ **describe() — Summary statistics**

Gives statistical summary for numeric columns.

In [ ]:
print(employee.describe())

3️⃣ **columns — List all column names**

Show all column names in the form of list.

In [ ]:
print("Columns:", employee.columns)

4️⃣ **dtypes — Show data types of each column**

Show all columns data types.

In [ ]:
print("Data Types:\n", employee.dtypes)

**5️⃣ iloc — Select specific rows and columns**

Select rows 2-4 and first 3 columns.

In [ ]:
print(employee.iloc[2:5, 0:4])

6️⃣ **fillna() — Replace missing values**

Fill missing ages (if any) with average age.

In [ ]:
employee_filled = employee.fillna({"Age": employee["Age"].mean() if "Age" in employee.columns else 0})
print(employee_filled)

7️⃣**drop() — Drop a column**

Drop the gender column (if exists).

In [ ]:
employee_dropped = employee.drop("Position", axis=1)  # axis = 1 means check 'Position' in column not rows.
print(employee_dropped)

8️⃣ **rename() — Rename a column**

Rename “Salary” to “Income”.

In [ ]:
employee_renamed = employee.rename(columns={"Salary": "Income"})
print(employee_renamed)

9️⃣ **sort_values() — Sort by a column**

Sort by Age in descending order.

In [ ]:
if 'Age' in employee.columns:
    employee_sorted = employee.sort_values(by='Age', ascending=False)
    print(employee[['Employee_Name', 'Age']].head())

else:
  print("Age not found in DataFrame.")

🔟 **groupby() — Group and calculate mean salary**

Find average salary per department.

In [ ]:
if 'Department' in employee.columns and 'Salary' in employee.columns:
    employee_grouped = employee.groupby('Department')['Salary'].mean()
    print(employee_grouped)
else:
    print("Department or Salary column not found in the DataFrame.")

11️⃣ **apply() — Apply a function**

Create a new column with square of Age.

In [ ]:
if 'Age' in employee.columns:
  employee['Age_Squared'] = employee['Age'].apply(lambda x: x**2 if pd.notnull(x) else x)
  print(employee[['Employee_Name', 'Age', 'Age_Squared']].head())

12️⃣ **concat() — Combine two DataFrames**

Add a new record (Shayan) and merge with the main dataset.

In [ ]:
data_extra = {
    'Employee_ID': [30001],
    'Employee_Name': ['Shayan'],
    'Age': [19],
    'Country': ['Pakistan'],
    'Department': ['IT'],
    'Position': ['Data Scientist'],
    'Salary': [88000],
    'Gender': ['M']
    }

employee_extra = pd.DataFrame(data_extra)
employee_concat = pd.concat([employee, employee_extra], ignore_index=True)
print(employee_concat.tail())

13️⃣ **merge() — Join two DataFrames**

Merge employee data with department locations.

In [ ]:
data_extra_2 = {
    'Department': ['HR', 'IT', 'Finance', 'Sales'],
    'Location': ['Building A', 'Building B', 'Building C', 'Building D']
}

dept_info = pd.DataFrame(data_extra_2)

employee_merged = pd.merge(employee, dept_info, on='Department', how='left') #how='left' keeps the left table exactly as it is and only fills in the corresponding values from the right table where matches exist.
print(employee_merged[['Employee_Name', 'Department', 'Location']].head())

14️⃣ **duplicated() — Check for duplicates**

Return True/False for each columns.

In [ ]:
print(employee.duplicated())

15️⃣ **drop_duplicates() — Remove duplicates**

Remove duplicates values (if any) from each column.

In [36]:
print(employee.drop_duplicates().shape) # .shape() used to check total rows and columns after preforming drop_duplicates() functions.

(30000, 9)

16️⃣ **sample() — Random sample rows**

Return sample rows.

In [ ]:
print(employee.sample(n=3)) # n define how many rows you want to see.

17️⃣ **sort_index() — Sort rows by index**

Sort the index either in ascending or descending order.

In [ ]:
print(employee.sort_index(ascending=False).head())

18️⃣ **set_index() — Set a column as index**

Set particular columns as index.

In [ ]:
if 'Employee_ID' in employee.columns:
    employee_indexed = employee.set_index('Employee_ID')
    print(employee_indexed.head())

19️⃣ **reset_index() — Reset index back to default**

Removes the current custom index (like Employee_ID which i set manually) and replaces it with the default integer index (0, 1, 2, …).

In [ ]:
print(employee.reset_index().head())

20️⃣ **query() — Filter with conditions using SQL Queries**

Find finance department employees with salary > 60000.

In [ ]:
if 'Department' in employee.columns and 'Salary' in employee.columns:
    print(employee.query("Department == 'Finance' and Salary > 60000").head())